.ContentWidth {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.ColumnOne {
  width: 40%;
}
.ColumnTwo {
  width: 60%;
}

.ChartHeader {
  text-align: center;
}

.donut{
  .raphael-group-3-creditgroup{
    display: none;
  }
  g[class*='-creditgroup'] {
    display: none;
  }
}